body{
    background-color: white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1200px;
    margin: 0auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: rgb(207, 4, 4);
}

a:hover{
    color: black;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(212, 3, 3);
    padding: 10px;
    border-radius: 15px;

}

h1{
    font-weight: 200;
    font-size:large
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

span{
    color: rgb(207, 2, 2);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family:Arial, Helvetica, sans-serif;
}

img{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type=submit]{
    height: 50px;
    width: 100%;
    background-color: rgb(192, 2, 2);
    color: white;
    font-weight: bold;
}
form [type=submit]:hover{
    cursor: pointer;
}




input{
    margin-top: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 10;
}